# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# База данных
*.db
*.sqlite
*.sqlite3

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Локальные настройки
.env
*.local

# Временные файлы
*.tmp
*.bak
*.backup
